body {background-color:black;font-family:arial;color:white}
h1{color:gray;font-family:Verdana;}
.maindiv{
    background-color: white;
    color:black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin:0 auto;
    font-weight: normal;
}
.resultdiv{
    font-weight: bold;
}
mark {
    background-color: yellow;
    color:black;
    font-weight: bold;
}